@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(126, 126, 127);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  padding: 150px;
  max-width: 800px;
}

.container .box {
  position: relative;
  margin-bottom: 20px; /* Нижний отступ между элементами аккордеона */
}

.container .box:last-child {
  margin-bottom: 0; /* Для последнего элемента нижний отступ убираем */
}

.container .box .label {
  position: relative;
  padding: 20px; /* Внутренний отступ для видимой части */
  background-color: rgb(12, 12, 15); /* Цвет элемента аккордеона background-color: darkblue;  */
  color: #fff; /* Цвет шрифта элемента аккордеона */
  cursor: pointer; /* Меняем курсор при наведении */
}

.container .box .label::after {
  content: "+"; /* Задаем иконку "+" для элемента аккордеона */
  position: absolute;
  top: 50%; /* Выравнивание по центру */
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.container .box.active .label::after {
  content: "\2014"; /* Меняем иконку на "-" при нажатии на элемент */
}

.container .box .content {
  position: relative;
  background-color: rgb(129, 34, 34); /* Цвет фона контента */
  overflow: hidden;
  max-height: 0; /* Скрываем контент */
  transition: 0.3s; /* Для плавности анимации */
}

.container .box .content p {
  padding: 70px;
}
h1 {
  text-align: center;
  padding: 50px;
}
.content {
  line-height: 1.5;
  height: 500px;

}
span{
  color: rgb(6, 175, 51);
  font-weight: 700;
  letter-spacing: 1.2px;

}

h6, h3 {
  color: rgba(211, 90, 4, 0.838);
  font-size:20px;
  padding-left: 5px;
  
}
h4 {
  color: rgba(211, 90, 4, 0.838);
  font-size:18px;
  padding-left: 5px;
  }
.n{
  font-size: 20px;
}
#username{
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}