/* Стиль вкладки */
button{
  cursor: pointer;
  background-color: rgb(230, 214, 124);
  border-radius: 3px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Стиль кнопок, которые используются для открытия содержимого вкладки */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
  }
  
  /* Изменение цвета фона кнопок при наведении курсора */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Создание активного/текущего класса связи вкладки */
  .tab button.active {
    background-color: #ccc;
  
  }
  
  /* Стиль содержимого вкладки */
  .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    
  
  }
  .w {
    
    color: rgb(246, 255, 0);
  }
  .tablinks{
    color: rgb(99, 3, 62);
    
  }

  .gp{
    font-size: 25px;
  }
  .op{
    padding: 0px;
    margin: 0px;
  }
  
  .knopkOdin2 {
    margin-top: 15px;

    padding-right: 37px;
    padding-left: 37px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
   
  }

  .knopkOdin1 {

    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
  }
  .knopkOdin{
    margin-top: 15px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, .2);
  }

.box6{
  padding-top: 20px;
}
.routerMio {

  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.router{
  background-color: rgb(222, 127, 4);
  font-size: 35px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.mio{
  background-color: rgb(222, 127, 4);
  font-size: 35px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.mio:hover{
  transform: scale(1.2)
}
.router:hover{
  transform: scale(1.2)
  
}

